@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        ‎
    </p>
    <p>
        ‎
    </p>
    <p>
        ‎
    </p>
    <p>
        ‎
    </p>
    <p>
        ‎
    </p>
    <h1 class="display-4">
        Welcome to your personal ToDo list!
    </h1>
    
    <h2 class="my-block">
        To access your ToDo list please login first.
    </h2>
</div>
